<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%style{%date{DEFAULT}}{yellow} %highlight{%-5level}{FATAL=bg_red, ERROR=red, WARN=yellow, INFO=green} %message%n"
                           disableAnsi="false"/>
        </Console>
        <RollingFile name="FileAppender"
                     fileName="./logs/log.log"
                     filePattern="./logs/$${date:yyyy-MM}/log-%d{-dd-MMMM-yyyy}-%i.log.gz">
            <PatternLayout pattern="%d %p %m%n"/>
            <Policies>
                <!-- rollover on startup, daily and when the file reaches 10 MB -->
                <SizeBasedTriggeringPolicy size="10 MB" />
<!--                <OnStartupTriggeringPolicy />-->
<!--                <TimeBasedTriggeringPolicy />-->
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="TRACE">
            <AppenderRef ref="ConsoleAppender" level="INFO"/>
            <AppenderRef ref="FileAppender" level="INFO"/>
        </Root>
    </Loggers>
</Configuration>