<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Schedule</title>
</head>
<body onload="getSchedule()">
<div class="container-fluid">
    <div th:replace="common/navbar.html :: navbar"></div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col" class="text-center" style="width: 7%">#</th>
            <th scope="col" class="text-center" style="width: 15.5%">Monday</th>
            <th scope="col" class="text-center" style="width: 15.5%">Tuesday</th>
            <th scope="col" class="text-center" style="width: 15.5%">Wednesday</th>
            <th scope="col" class="text-center" style="width: 15.5%">Thursday</th>
            <th scope="col" class="text-center" style="width: 15.5%">Friday</th>
            <th scope="col" class="text-center" style="width: 15.5%">Saturday</th>
        </tr>
        </thead>

        <tbody id="tableBody">
        <tr>
            <th scope="row" class="text-center">08:30</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th scope="row" class="text-center">10:00</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th scope="row" class="text-center">11:40</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th scope="row" class="text-center">13:30</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th scope="row" class="text-center">15:00</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th scope="row" class="text-center">16:30</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th scope="row" class="text-center">18:00</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>

<script>

</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/8efeb7c04c.js" crossorigin="anonymous"></script>
</body>
</html>