<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Subjects</title>
</head>
<style>
    .icon-edit:hover {
        color: #0067b1;
    }

    .icon-delete:hover {
        color: #ef4135;
    }
</style>
<body>
<div class="container-fluid">
    <div th:replace="common/navbar.html :: navbar(page='subjects')"></div>

    <div class="row mt-4 d-flex justify-content-center">
        <div class="col-12 col-md-8 col-xl-6">

            <div class="row">
                <div class="col">
                    <form method="POST" action="/subjects/">
                        <div class="mb-3">
                            <label for="subjectName" class="form-label">Subject's name</label>
                            <input type="text" class="form-control" id="subjectName" name="name"
                                   aria-describedby="subjectNameHelp">
                            <div id="subjectNameHelp" class="form-text">Enter subject's name.</div>
                        </div>
                        <button type="submit" class="mt-n1 btn btn-primary float-end">Submit</button>
                    </form>
                </div>
            </div>

            <hr>

            <div class="mt-4 row">
                <div class="col">
                    <ul class="list-group">
                        <li class="list-group-item d-flex" th:each="subject : ${subjects}">
                            <div class="col-auto me-auto fs-4" th:text="${subject.name}"></div>
                            <a class="btn my-auto px-2" th:href="'/subjects/'+${subject.id}" th:if="${isAdmin}"><i
                                    class="far fa-edit fa-lg icon-edit"></i></a>
                            <form method="POST" th:action="'/subjects/' + ${subject.id} + '/delete'">
                                <button type="submit" class="btn my-auto px-2"
                                        th:attr="onclick=|deleteSubject('${subject.id}')|"
                                        th:if="${isAdmin}"><i
                                        class="fas fa-trash-alt fa-lg icon-delete"></i></button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


</div>

<script src="/install_sw.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
<!--<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>-->
<script src="https://kit.fontawesome.com/8efeb7c04c.js" crossorigin="anonymous"></script>
</body>
</html>